<!-- Slider main wrapper -->
<div class="swiper-container-wrapper">
  <!-- Slider main container -->
  <div class="gallery-top">
    <!-- Additional required wrapper -->
    <div class="product-swiper-wrapper">
      <!-- Slides -->
      {%- for media in product.media -%}
        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
          <div class="swiper-slide">
            {%- assign media_position = media_position | default: 0 | plus: 1 -%}
            {%- if media.media_type == 'image' -%}
              <div class="swiper-slide-wrap" onmousemove="zoom(event)" style="background-image: url({{ media | img_url: '1024x1024' }})">
                <img src="{{ media | img_url: '1024x1024' }}" alt="{{ media.alt | escape }}" />
              </div>
            {%- endif -%}
            {%- if media.media_type == 'video' -%}
              <video controls>
                <source src="{{ media | video_url }}" type="{{ media.video_type }}">
                Your browser does not support the video tag.
              </video>
            {%- endif -%}
            {%- if media.media_type == 'external_video' -%}
              <iframe src="{{ media | external_video_url }}" frameborder="0" allowfullscreen></iframe>
            {%- endif -%}
            {%- if media.media_type == 'model' -%}
              <model-viewer src="{{ media | model_3d_url }}" alt="{{ media.alt | escape }}" auto-rotate camera-controls></model-viewer>
            {%- endif -%}
          </div>
        {%- endunless -%}
      {%- endfor -%}

    </div>
    <!-- Add Arrows -->
    <div class="product-swiper-button-next"><svg style="transform: rotate(180deg)" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 14" fill="none"><g opacity=""><path fill="transparent" fill-rule="evenodd" d="M8 12.5 3 7l5-5.5" clip-rule="evenodd"></path><path stroke="currentColor" fill="transparent" vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12.5 3 7l5-5.5"></path></g></svg></div>
    <div class="product-swiper-button-prev"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 14" fill="none"><g opacity=""><path fill="transparent" fill-rule="evenodd" d="M8 12.5 3 7l5-5.5" clip-rule="evenodd"></path><path stroke="currentColor" fill="transparent" vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12.5 3 7l5-5.5"></path></g></svg></div>
    <div class="product-zoom-indicator">
      <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm7-2 6 6M10 6v8m-4-4h8"></path></svg>
    </div>
  </div>
  <!-- Slider thumbnail container -->
  <div class="gallery-thumbs">
    <!-- Additional required wrapper -->
    <div class="product-swiper-wrapper">
      <!-- Slides -->
      {% comment %} <div class="swiper-slide">Slide 1</div> {% endcomment %}
      {%- for media in product.media -%}
        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
          <div class="swiper-slide">
            {%- assign media_position = media_position | default: 0 | plus: 1 -%}
            {%- if media.media_type == 'image' -%}
              <img src="{{ media | img_url: '1024x1024' }}" alt="{{ media.alt | escape }}" />
            {%- endif -%}
            {%- if media.media_type == 'video' -%}
              <video controls>
                <source src="{{ media | video_url }}" type="{{ media.video_type }}">
                Your browser does not support the video tag.
              </video>
            {%- endif -%}
            {%- if media.media_type == 'external_video' -%}
              <iframe src="{{ media | external_video_url }}" frameborder="0" allowfullscreen></iframe>
            {%- endif -%}
            {%- if media.media_type == 'model' -%}
              <model-viewer src="{{ media | model_3d_url }}" alt="{{ media.alt | escape }}" auto-rotate camera-controls></model-viewer>
            {%- endif -%}
          </div>
        {%- endunless -%}
      {%- endfor -%}
      
    </div>
  </div>
</div>