{{ 'section-custom-hero.css' | asset_url | stylesheet_tag }}

{% comment %} Dev Mode - condition {% endcomment %}
{% if section.settings.show_dev_only != true or request.host contains 'myshopify.com' %}
  <div
      id="Banner-{{ section.id }}"
      class="custom-hero 
  
        {% if section.settings.container_height != blank %} custom-hero-height--{{ section.settings.container_height }}{% endif %}
        {% if section.settings.margin_top != 'none' %} margin-top--{{ section.settings.margin_top }} {% endif %}
        {% if section.settings.margin_bottom != 'none' %} margin-bottom--{{ section.settings.margin_bottom }} {% endif %}"
  
      style="
      
          {% if section.settings.to_top_shift_upward > 0 %}margin-top: calc(-{{section.settings.to_top_shift_upward }}px * 3);{% endif %}
          {% if section.settings.margin_bottom_custom > 0 %}margin-bottom: calc({{ section.settings.margin_bottom_custom }}px * 3);{% endif %}
          {% if section.settings.background_color !=blank %}background-color: {{ section.settings.background_color }};{% endif %}
          {% if section.settings.background_image !=blank %}background-image: url('{{ section.settings.background_image | img_url: 'original' }}');{% endif %}
          {% if section.settings.background_size !=blank %}background-size: {{ section.settings.background_size }} {% endif %}
          
      "
    >
    <div class="page-width">
      <div class="custom-hero--content-wrap">
        <div class="custom-hero--text-wrap">
    
          {% if section.settings.heading != blank %}
            <h1 class="custom-hero--title {{ section.settings.heading_size }}">
              {{ section.settings.heading }}
            </h1>
          {% endif %}
    
          {% if section.settings.text != blank %}
            <p class="custom-hero--text {{ section.settings.text_size }}">
              {{ section.settings.text }}
            </p>
          {% endif %}
    
          {% if section.settings.button_label != blank %}
            <div class="custom-hero--images-banner--buttons">
              <a href="#{{ section.settings.button_url }}" class="button {{ section.settings.button_type }}">
                {{ section.settings.button_label }}
              </a>
            </div>
          {% endif %}
      
        </div>
    
        <div class="custom-hero--images-wrap">
          {% if section.settings.image_product_1 != blank %}
            <img
              class="custom-hero--image_1"
              src="{{ section.settings.image_product_1 | image_url: width: 500 }}"
              alt="{{ section.settings.image_product_1.alt | escape }}"
              width="70"
              height="{{ 70 | divided_by: section.settings.image_product_1.aspect_ratio | ceil }}"
              loading="lazy"
            >
          {% endif %}
          {% if section.settings.image_product_2 != blank %}
            <img
              class="custom-hero--image_2"
              src="{{ section.settings.image_product_2 | image_url: width: 500 }}"
              alt="{{ section.settings.image_product_2.alt | escape }}"
              width="70"
              height="{{ 70 | divided_by: section.settings.image_product_2.aspect_ratio | ceil }}"
              loading="lazy"
            >
          {% endif %}
        </div>
      </div>
    </div>
  
  </div>
{% endif %}

{% schema %}
{
  "name": "Custom Hero",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        }
      ],
      "default": "h1",
      "label": "Heading Size"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "text",
      "id": "button_url",
      "default": "block_id",
      "label": "Button Anchor"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Button type",
      "options": [
        {
          "value": "button--primary",
          "label": "Primary"
        },
        {
          "value": "button--secondary",
          "label": "Secondary"
        },
        {
          "value": "button--primary_sm",
          "label": "Primary - SM"
        }
      ],
      "default": "button--primary_sm"
    },
    {
      "type": "image_picker",
      "id": "image_product_1",
      "label": "Image Product (1)"
    },
    {
      "type": "image_picker",
      "id": "image_product_2",
      "label": "Image Product (2)"
    },
    {
      "type": "select",
      "id": "margin_top",
      "label": "Margin top",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "margin_bottom_custom",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0,
      "label": "Margin bottom custom"
    },
    {
      "type": "range",
      "id": "to_top_shift_upward",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 70,
      "label": "Shift Upward"
    },
    {
      "type": "select",
      "id": "container_height",
      "label": "Image height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "Background Size",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "checkbox",
      "id": "show_dev_only",
      "default": false,
      "label": "Show Dev Only"
    }
  ],
  "presets": [
    {
      "name": "Custom Hero"
    }
  ]
}
{% endschema %}
