{{ 'section-custom-image-banners.css' | asset_url | stylesheet_tag }}
1
<div
    id="Banner-{{ section.id }}"
    class="images-banner
      {% unless section.settings.full_width %} page-width-desktop{% endunless %}
      {% if section.settings.container_height != blank %} images-banner-height--{{ section.settings.container_height }}{% endif %}
      {% if section.settings.full_width %} images-banner-shadow{% endif %}
      {% if section.settings.offset_between_images != 'none' %} offset-{{ section.settings.offset_between_images }}{% endif %}
      {% if section.settings.border_between_images %} border {% endif %}
      {% if section.settings.margin_top != 'none' %} margin-top--{{ section.settings.margin_top }} {% endif %}
      {% if section.settings.margin_bottom != 'none' %} margin-bottom--{{ section.settings.margin_bottom }} {% endif %}"
    style="
        {% if section.settings.margin_bottom_custom > 0 %}margin-bototm: {{ section.settings.margin_bottom_custom }}px;{% endif %}
        {% if section.settings.background_container !=blank %}background-color: {{ section.settings.background_container }};{% endif %}
    "
>
  {% for block in section.blocks %}
    <div
        class="images-banner--image"
        style="
           background-image: url('{{ block.settings.image  | img_url: 'original' }}');
          {%- if section.settings.border_radius > 0 -%}border-radius: {{ section.settings.border_radius }}px; {%- endif -%}
          {%- if block.settings.image_position != 50 -%}background-position-x: {{ block.settings.image_position }}%; {%- endif -%}
        ">
      
      {% if block.settings.button_label != blank %}
        <div class="images-banner--buttons">
          <a href="{{ block.settings.button_url }}" class="button {{ section.settings.button_type }}">
            {{ block.settings.button_label }}
          </a>
        </div>
      {% endif %}
    </div>
  {% endfor %}

  {% if section.settings.heading != blank %}
    <h1 class="images-banner--title {{ section.settings.heading_size }}">
      {{ section.settings.heading }}
    </h1>
  {% endif %}
</div>

{% schema %}
{
  "name": "Custom image banners",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "image_clickable",
      "default": false,
      "label": "Image clickable"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        }
      ],
      "default": "h1",
      "label": "H1"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Button type",
      "options": [
        {
          "value": "button--primary",
          "label": "Primary"
        },
        {
          "value": "button--secondary",
          "label": "Secondary"
        }
      ],
      "default": "button--secondary"
    },
    {
      "type": "select",
      "id": "margin_top",
      "label": "Margin top",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "container_height",
      "label": "Image height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "box_shadow",
      "default": true,
      "label": "box-shadow"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Full width"
    },
    {
      "type": "select",
      "id": "offset_between_images",
      "label": "Offset between images",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "big",
          "label": "Big"
        }
      ],
      "default": "none"
    },
    {
      "type": "checkbox",
      "id": "border_between_images",
      "default": false,
      "label": "Show border between images"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 60,
      "step": 1,
      "default": 0,
      "label": "Border radius all images"
    },
    {
      "type": "range",
      "id": "margin_bottom_custom",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0,
      "label": "Margin bottom"
    },
    {
      "type": "color_background",
      "id": "background_image",
      "label": "Background images"
    },
    {
      "type": "color_background",
      "id": "background_container",
      "label": "Background container"
    }
  ],
  "blocks": [
    {
      "type": "page",
      "name": "Image block",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select image"
        },
        {
          "type": "range",
          "id": "image_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "label": "Image position by 'x'"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom image banners",
      "blocks": [
        {
          "type": "page"
        }
      ]
    }
  ]
}
{% endschema %}