{{ 'section-custom-product-hero.css' | asset_url | stylesheet_tag }}

{% comment %} Dev Mode - condition {% endcomment %}
{% if section.settings.show_dev_only != true or request.host contains 'myshopify.com' %}
  <div
      id="Banner-{{ section.id }}"
      class="custom-product-hero 
  
        {% if section.settings.container_height != blank %} custom-product-hero-height--{{ section.settings.container_height }}{% endif %}
        {% if section.settings.margin_top != 'none' %} margin-top--{{ section.settings.margin_top }} {% endif %}
        {% if section.settings.margin_bottom != 'none' %} margin-bottom--{{ section.settings.margin_bottom }} {% endif %}"
  
      style="
      
          {% if section.settings.to_top_shift_upward > 0 %}margin-top: calc(-{{section.settings.to_top_shift_upward }}px * 3);{% endif %}
          {% if section.settings.margin_bottom_custom > 0 %}margin-bottom: calc({{ section.settings.margin_bottom_custom }}px * 3);{% endif %}
          {% if section.settings.background_color !=blank %}background-color: {{ section.settings.background_color }};{% endif %}
          {% if section.settings.background_image !=blank %}background-image: url('{{ section.settings.background_image | img_url: 'original' }}');{% endif %}
          {% if section.settings.background_size !=blank %}background-size: {{ section.settings.background_size }} {% endif %}
          
      "
    >
    <div class="page-width">

      <div class="custom-product-hero--header">
        
        {% if section.settings.header_list != blank %}
          {{ section.settings.header_list | newline_to_br }}
        {% endif %}
      </div>

      <div class="custom-product-hero--content-wrap">

        <div class="custom-product-hero--left-col">

          {% if section.settings.top_subtitle != blank %}
            <p class="custom-product-hero--top-subtitle">
              {{ section.settings.top_subtitle | newline_to_br }}
            </p>
          {% endif %}
          <div class="custom-product-hero--title-wrap">
            <div class="custom-product-hero--img-wrap">
              {% if section.settings.product_img != blank %}
                <div class="custom-product-hero--product-img">
                  <img
                    src="{{ section.settings.product_img | image_url: width: 250 }}"
                    alt="{{ section.settings.product_img.alt | escape }}"
                    width="250"
                    height="{{ 250 | divided_by: section.settings.product_img.aspect_ratio | ceil }}"
                    loading="lazy"
                  >
                </div>
              {% endif %}
              {% if section.settings.button_label != blank %}
                <div class="custom-product-hero--button">
                  <a href="{{ section.settings.button_url }}" class="button {{ section.settings.button_type }}">
                    {{ section.settings.button_label }}
                  </a>
                </div>
              {% endif %}
            </div>
            {% if section.settings.heading != blank %}
              <h1 class="custom-product-hero--title {{ section.settings.heading_size }}">
                {{ section.settings.heading | newline_to_br  }}
              </h1>
            {% endif %}
          </div>
    
        </div>
        
        <div class="custom-product-hero--right-col">
          <div class="custom-product-hero--img">
            {% if section.settings.right_img != blank %}
              <img
                src="{{ section.settings.right_img | image_url: width: 400 }}"
                alt="{{ section.settings.right_img.alt | escape }}"
                width="390"
                height="{{ 520 | divided_by: section.settings.right_img.aspect_ratio | ceil }}"
                loading="lazy"
              >
            {% endif %}
          </div>
        </div>

      </div>
    </div>

    {% if section.settings.text != blank %}
      <div class="custom-product-hero--footer">
        <div class="page-width">
          <div class="custom-product-hero--text {{ section.settings.text_size }}">
            {{ section.settings.text | newline_to_br  }}
          </div>
        </div>
      </div>
    {% endif %}
  
  </div>
{% endif %}

{% schema %}
{
  "name": "Custom Product Hero",
  "class": "section",
  "settings": [
    
    {
      "type": "richtext",
      "id": "header_list",
      "label": "Header List",
      "info": "It is recommended to use only the list."
    },
    {
      "type": "textarea",
      "id": "top_subtitle",
      "label": "Top Subtitle"
    },
    {
      "type": "image_picker",
      "id": "product_img",
      "label": "Product Image"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        }
      ],
      "default": "h1",
      "label": "Heading Size"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Button type",
      "options": [
        {
          "value": "button--border-pink",
          "label": "Button Border Pink"
        },
        {
          "value": "button--primary",
          "label": "Primary"
        },
        {
          "value": "button--secondary",
          "label": "Secondary"
        },
        {
          "value": "button--primary_sm",
          "label": "Primary - SM"
        }
      ],
      "default": "button--border-pink"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "right_img",
      "label": "Right Image"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "margin_top",
      "label": "Margin top",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "to_top_shift_upward",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 70,
      "label": "Shift Upward"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "margin_bottom_custom",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0,
      "label": "Margin bottom custom"
    },
    {
      "type": "select",
      "id": "container_height",
      "label": "Image height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "Background Size",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "checkbox",
      "id": "show_dev_only",
      "default": false,
      "label": "Show Dev Only"
    }
  ],
  "presets": [
    {
      "name": "Custom Product Hero"
    }
  ]
}
{% endschema %}
