{{ 'section-custom-hero-2.css' | asset_url | stylesheet_tag }}
<style> 
  {{ section.settings.text_font | font_face }}
</style>

{% comment %} Dev Mode - condition {% endcomment %}
{% if section.settings.show_dev_only != true or request.host contains 'myshopify.com' %}
  <div
    id="Banner-{{ section.id }}" 
    class="custom-hero-2
      {% if section.settings.margin_top != 'none' %} margin-top--{{ section.settings.margin_top }} {% endif %}
      {% if section.settings.margin_bottom != 'none' %} margin-bottom--{{ section.settings.margin_bottom }} {% endif %}
    "

    style="
        {% if section.settings.to_top_shift_upward > 0 %}margin-top: calc(-{{section.settings.to_top_shift_upward }}px * 3);{% endif %}
        {% if section.settings.margin_bottom_custom > 0 %}margin-bottom: calc({{ section.settings.margin_bottom_custom }}px * 3);{% endif %}
        {% if section.settings.background_color !=blank %}background-color: {{ section.settings.background_color }};{% endif %}
      "
  >

    <div class="custom-hero-2--bg-wrap
        {% if section.settings.container_height != blank %} custom-hero-2-height--{{ section.settings.container_height }}{% endif %}
      "
      style="
        {% if section.settings.background_image !=blank %}background-image: url('{{ section.settings.background_image | img_url: 'master' }}');{% endif %}
        {% if section.settings.background_size !=blank %}background-size: {{ section.settings.background_size }} {% endif %}
      "
    >
      {% if section.settings.background_video !=blank %}
        <div class="custom-hero-2--video-block">
          {{
            section.settings.background_video
            | video_tag:
              image_size: '1100x',
              autoplay: true,
              loop: true,
              controls: false,
              muted: true
          }}
        </div>
      {% endif %}
    </div>

    <div class="custom-hero-2--content-wrap custom-hero-2--column-{{ section.settings.column_position }}">
      <div class="custom-hero-2--col">
        {% if section.blocks.size > 0 %}  
          <ul class="custom-hero-2--list-icons">
            {% for block in section.blocks %}
              {% if block.type == 'page' %}
                <li class="custom-hero-2--list-icons-item" id="block-{{ block.id }}" {{ block.shopify_attributes }}>
                  {% if section.settings.block_image != blank %}
                    <div class="custom-hero-2--list-icons-image">
                      <img
                        class="custom-hero-2--image_1"
                        src="{{ section.settings.block_image | image_url: width: 50 }}"
                        alt="{{ section.settings.block_image.alt | escape }}"
                        width="50"
                        height="{{ 50 | divided_by: section.settings.block_image.aspect_ratio | ceil }}"
                        loading="lazy"
                      >
                    </div>
                  {% endif %}
                  {% if block.settings.item_text != blank %}
                    <div class="custom-hero-2--list-icons-text">
                      {{ block.settings.item_text }}
                    </div>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="custom-hero-2--col">
        {% if section.settings.heading != blank %}
          <div class="custom-hero-2--text-wrap">
            {% if section.settings.heading != blank %}
              <h1 class="custom-hero-2--title {{ section.settings.heading_size }} {{ section.settings.heading_format }}"
                style="
                    {% if section.settings.text_font.family !=blank %}font-family: {{ section.settings.text_font.family }};{% endif %}
                  "
               >
                {{ section.settings.heading | newline_to_br }}
              </h1>
            {% endif %}
          </div>
        {% endif %}
        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
            {% if block.type == 'text_block' %}
              <div class="custom-hero-2--text-block {{ block.type }}" id="block-{{ block.id }}" {{ block.shopify_attributes }}>
                {% if block.settings.item_text != blank %}
                  <div class="custom-hero-2--list-icons-text"
                     style="
                      text-align: {{ block.settings.description_alignment }};
                     "
                   >
                    {{ block.settings.item_text | newline_to_br }}
                  </div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>

  </div>
{% endif %}

{% schema %}
{
  "name": "Custom Hero 2",
  "class": "section",
  "settings": [
    // title sizes
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        }
      ],
      "default": "h1",
      "label": "Heading Size"
    },
    // heading font
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Text font",
      "default": "centaur_n4"
    },
    // title formatting
    {
      "type": "select",
      "id": "heading_format",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "caps",
          "label": "CAPS"
        }
      ],
      "default": "caps",
      "label": "Heading Formatting"
    },
    // title
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    // Column Position
    {
      "type": "select",
      "id": "column_position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right",
      "label": "Column Position"
    },
    // list icon
    {
      "type": "image_picker",
      "id": "block_image",
      "label": "Select Icon",
      "info": "Icon for Block List Icon"
    },
    // Margin top
    {
      "type": "select",
      "id": "margin_top",
      "label": "Margin top",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    // Shift Upward (to top -70px...)
    {
      "type": "range",
      "id": "to_top_shift_upward",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 70,
      "label": "Shift Upward"
    },
    // Margin bottom
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    // Margin bottom custom
    {
      "type": "range",
      "id": "margin_bottom_custom",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0,
      "label": "Margin bottom custom"
    },
    // Image height
    {
      "type": "select",
      "id": "container_height",
      "label": "Image height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    // Background Image
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    // Background Video
    {
      "type": "video",
      "id": "background_video",
      "label": "Background Video"
    },
    // Background Size
    {
      "type": "select",
      "id": "background_size",
      "label": "Background Size",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover"
    },
    // Background Color
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Color"
    },
    // Dev Mode
    {
      "type": "checkbox",
      "id": "show_dev_only",
      "default": false,
      "label": "Show Dev Only"
    }
  ],
  // blocks
  "blocks": [
    {
      "type": "page",
      "name": "List Icon Item",
      "limit": 20,
      "settings": [
        {
          "type": "richtext",
          "id": "item_text",
          "label": "Item text"
        }
      ]
    },
    {
      "type": "text_block",
      "name": "Text Block",
      "limit": 10,
      "settings": [
        {
          "type": "richtext",
          "id": "item_text",
          "label": "Item text"
        },
        // title formatting
        {
          "type": "text_alignment",
          "id": "description_alignment",
          "label": "Description alignment",
          "default": "center"
        },  
      ]
    }
  ],

  "presets": [
    {
      "name": "Custom Hero 2",
      "blocks": [
        {
          "type": "page"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ]
}
{% endschema %}
