{{ 'section-custom-hero-2.css' | asset_url | stylesheet_tag }}

{% comment %} Dev Mode - condition {% endcomment %}
{% if section.settings.show_dev_only != true or request.host contains 'myshopify.com' %}
  <div
      id="Banner-{{ section.id }}"
      class="custom-hero-2 
        {% if section.settings.container_height != blank %} custom-hero-2-height--{{ section.settings.container_height }}{% endif %}
        {% if section.settings.margin_top != 'none' %} margin-top--{{ section.settings.margin_top }} {% endif %}
        {% if section.settings.margin_bottom != 'none' %} margin-bottom--{{ section.settings.margin_bottom }} {% endif %}
      "
  
      style="
          {% if section.settings.to_top_shift_upward > 0 %}margin-top: calc(-{{section.settings.to_top_shift_upward }}px * 3);{% endif %}
          {% if section.settings.margin_bottom_custom > 0 %}margin-bottom: calc({{ section.settings.margin_bottom_custom }}px * 3);{% endif %}
          {% if section.settings.background_color !=blank %}background-color: {{ section.settings.background_color }};{% endif %}
          {% if section.settings.background_image !=blank %}background-image: url('{{ section.settings.background_image | img_url: 'original' }}');{% endif %}
          {% if section.settings.background_size !=blank %}background-size: {{ section.settings.background_size }} {% endif %}
      "
    >

    <div class="custom-hero-2--video-block">
      {% if section.settings.background_video !=blank %}
        {{
          section.settings.background_video
          | video_tag:
            image_size: '1100x',
            autoplay: true,
            loop: true,
            controls: false,
            muted: true
        }}
      {% endif %}
    </div>

    <div class="custom-hero-2--content-wrap">
      {% if section.settings.heading != blank %}
        <div class="custom-hero-2--text-wrap">
    
          {% if section.settings.heading != blank %}
            <h1 class="custom-hero-2--title {{ section.settings.heading_size }}">
              {{ section.settings.heading }}
            </h1>
          {% endif %}
  
      
        </div>
      {% endif %}

      {% comment %} <div class="images-banner--buttons"> {% endcomment %}

      {% if section.blocks.size > 0 %}  
        <ul class="custom-hero-2--list-icons">
          {% for block in section.blocks %}
            <li class="custom-hero-2--list-icons-item">
              {% if section.settings.block_image != blank %}
                <div class="custom-hero-2--list-icons-image">
                  <img
                    class="custom-hero-2--image_1"
                    src="{{ section.settings.block_image | image_url: width: 50 }}"
                    alt="{{ section.settings.block_image.alt | escape }}"
                    width="70"
                    height="{{ 50 | divided_by: section.settings.block_image.aspect_ratio | ceil }}"
                    loading="lazy"
                  >
                </div>
              {% endif %}
              {% if block.settings.item_text != blank %}
                <p class="custom-hero-2--list-icons-text">
                  {{ block.settings.item_text }}
                </p>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

    </div>  
  </div>
{% endif %}

{% schema %}
{
  "name": "Custom Hero 2",
  "class": "section",
  "settings": [
    // title sizes
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        }
      ],
      "default": "h1",
      "label": "Heading Size"
    },
    // title
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading"
    },
    // list icon
    {
      "type": "image_picker",
      "id": "block_image",
      "label": "Select Image"
    },
    // Margin top
    {
      "type": "select",
      "id": "margin_top",
      "label": "Margin top",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    // Shift Upward (to top -70px...)
    {
      "type": "range",
      "id": "to_top_shift_upward",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 70,
      "label": "Shift Upward"
    },
    // Margin bottom
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    // Margin bottom custom
    {
      "type": "range",
      "id": "margin_bottom_custom",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0,
      "label": "Margin bottom custom"
    },
    // Image height
    {
      "type": "select",
      "id": "container_height",
      "label": "Image height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    // Background Image
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    // Background Video
    {
      "type": "video",
      "id": "background_video",
      "label": "Background Video"
    },
    // Background Size
    {
      "type": "select",
      "id": "background_size",
      "label": "Background Size",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover"
    },
    // Background Color
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Color"
    },
    // Dev Mode
    {
      "type": "checkbox",
      "id": "show_dev_only",
      "default": false,
      "label": "Show Dev Only"
    }
  ],
  // blocks
  "blocks": [
    {
      "type": "page",
      "name": "List Icon Item",
      "limit": 20,
      "settings": [
        {
          "type": "richtext",
          "id": "item_text",
          "label": "Item text"
        }
      ]
    },
    {
      "type": "page",
      "name": "Text Block",
      "limit": 10,
      "settings": [
        {
          "type": "richtext",
          "id": "item_text",
          "label": "Item text"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Custom Hero 2",
      "blocks": [
        {
          "type": "page"
        }
      ]
    }
  ]
}
{% endschema %}
