{{ 'section-custom-image-column.css' | asset_url | stylesheet_tag }}

{% comment %} Dev Mode - condition {% endcomment %}
{% if section.settings.show_dev_only != true or request.host contains 'myshopify.com' %}
  <section
      id="Banner-{{ section.id }}"
      class="custom-image-column
        {% if section.settings.margin_top != 'none' %} margin-top--{{ section.settings.margin_top }} {% endif %}
        {% if section.settings.margin_bottom != 'none' %} margin-bottom--{{ section.settings.margin_bottom }} {% endif %}
       "
      style="
        {% if section.settings.margin_bottom_custom > 0 %}margin-bottom: calc({{ section.settings.margin_bottom_custom }}px * 3);{% endif %}
        {% if section.settings.background_container !=blank %}background-color: {{ section.settings.background_container }};{% endif %}
      "
   >
    <div class="custom-image-column-wrap
        {% if section.settings.padding_top != 'none' %} padding-top--{{ section.settings.padding_top }} {% endif %}
        {% if section.settings.padding_bottom != 'none' %} padding-bottom--{{ section.settings.padding_bottom }} {% endif %}
      ">
      {% if section.settings.heading != blank %}
        <h3 class="custom-image-column--title">
          {% if section.settings.icon_heading != blank %}
            <img
              class="custom-image-column--block-icon-heading"
              src="{{ section.settings.icon_heading | image_url: width: 60 }}"
              alt="{{ section.settings.icon_heading.alt | escape }}"
              width="60"
              height="{{ 60 | divided_by: section.settings.icon_heading.aspect_ratio | ceil }}"
              loading="lazy"
            >
          {% endif %}
          {{ section.settings.heading }}
        </h3>
      {% endif %}
  
      {% if section.settings.description != blank %}
        <div class="
          custom-image-column--description
          {% if section.settings.description_text_size != 'none' %} {{ section.settings.description_text_size }} {% endif %}
         "
         style="
          text-align: {{ section.settings.description_alignment }};
         ">
          {{ section.settings.description }}
        </div>
      {% endif %}
  
      {% if section.blocks.size > 0 %}
        <div class="custom-image-column--blocks">
          {% for block in section.blocks %}
            <div class="custom-image-column--block-image">
      
              {% if block.settings.heading != blank %}
                <h3 class="custom-image-column--block-title">
                  {{ block.settings.heading }}
                </h3>
              {% endif %}
              
              <div class="custom-image-column--block-graph">
                <div class="custom-image-column--block-graph-wrap">
                  <div class="custom-image-column--block-image-wrap">
                    {% if block.settings.image != blank %}
                      <img
                        class="custom-image-column--block-img 
                          {% if block.settings.graph_value_1 != blank or block.settings.graph_value_2 != blank %}has-graph-values{% endif %}
                        "
                        src="{{ block.settings.image | image_url: width: 500 }}"
                        alt="{{ block.settings.image.alt | escape }}"
                        width="600"
                        height="{{ 500 | divided_by: block.settings.image.aspect_ratio | ceil }}"
                        loading="lazy"
                      >
                    {% endif %}
                  </div>
                  <div class="custom-image-column--block-graph-values">
                    <div class="custom-image-column--block-graph-value">
                      {% if block.settings.graph_value_1 != blank %}
                        <span class="custom-image-column--block-graph-mark"
                          style="
                          {% if block.settings.graph_color_1 !=blank %}background-color: {{ block.settings.graph_color_1 }};{% endif %}
                          "
                         ></span>
                         <span class="custom-image-column--block-graph-value">
                          {{ block.settings.graph_value_1 }}
                        </span>
                      {% endif %}
                    </div>
                    <div class="custom-image-column--block-graph-value">
                      {% if block.settings.graph_value_2 != blank %}
                        <span class="custom-image-column--block-graph-mark"
                          style="
                          {% if block.settings.graph_color_2 !=blank %}background-color: {{ block.settings.graph_color_2 }};{% endif %}
                          "
                         ></span>
                         <span class="custom-image-column--block-graph-value">
                          {{ block.settings.graph_value_2 }}
                        </span>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% if block.settings.caption != blank %}
                  <div class="custom-image-column--block-graph-caption">
                    {{ block.settings.caption }}
                  </div>
                {% endif %}
              </div>
      
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </div>

    <div class="custom-image-column-bottom-content"
      style="
        {% if section.settings.background_bottom_content !=blank %}background-color: {{ section.settings.background_bottom_content }};{% endif %}
      "
     >
      <div class="custom-image-column-bottom-content-wrap">
        {% if section.settings.button_url !=blank or section.settings.button_label !=blank %}
          <div class="custom-image-column-btn-wrap">
            <a href="{{ section.settings.button_url }}" class="button {{ section.settings.button_type }}">
              {{ section.settings.button_label }}
            </a>
          </div>
        {% endif %}
      </div>
    </div>

  </section>
{% endif %}

{% schema %}
{
  "name": "Custom Image Column",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "icon_heading",
      "label": "Icon Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "description_text_size",
      "label": "Description size",
      "options": [
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        }
      ]
    },
    {
      "type": "text_alignment",
      "id": "description_alignment",
      "label": "Description alignment",
      "default": "left"
    },   
    {
      "type": "select",
      "id": "margin_top",
      "label": "Margin top",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "margin_bottom_custom",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0,
      "label": "Margin bottom custom"
    },
    {
      "type": "select",
      "id": "padding_top",
      "label": "Padding top",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    {
      "type": "color",
      "id": "background_container",
      "label": "Background container"
    },
    {
      "type": "checkbox",
      "id": "show_dev_only",
      "default": false,
      "label": "Show Dev Only"
    },
    {
      "type": "header",
      "content": "Bottom Content"
    },
    {
      "type": "color",
      "id": "background_bottom_content",
      "label": "Background Bottom Content"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Button type",
      "options": [
        {
          "value": "button--border-blue",
          "label": "Button Primary Blue"
        },
        {
          "value": "button--primary",
          "label": "Primary"
        },
        {
          "value": "button--secondary",
          "label": "Secondary"
        },
        {
          "value": "button--primary_sm",
          "label": "Primary - SM"
        }
      ],
      "default": "button--border-blue"
    },
  ],
  "blocks": [
    {
      "type": "page",
      "name": "Image block",
      "limit": 2,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select image"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Image Caption"
        },
        {
          "type": "text",
          "id": "graph_value_1",
          "label": "Graph Value 1"
        },
        {
          "type": "color",
          "id": "graph_color_1",
          "label": "Graph Color 1"
        },
        {
          "type": "text",
          "id": "graph_value_2",
          "label": "Graph Value 2"
        },
        {
          "type": "color",
          "id": "graph_color_2",
          "label": "Graph Color 2"
        },

      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Image Column",
      "blocks": [
        {
          "type": "page"
        }
      ]
    }
  ]
}
{% endschema %}