{{ 'section-custom-image-column.css' | asset_url | stylesheet_tag }}

{% comment %} Dev Mode - condition {% endcomment %}
{% if section.settings.show_dev_only != true or request.host contains 'myshopify.com' %}
  <div
      id="Banner-{{ section.id }}"
      class="custom-image-column
        {% if section.settings.margin_top != 'none' %} margin-top--{{ section.settings.margin_top }} {% endif %}
        {% if section.settings.margin_bottom != 'none' %} margin-bottom--{{ section.settings.margin_bottom }} {% endif %}"
      style="
          {% if section.settings.margin_bottom_custom > 0 %}margin-bottom: calc({{ section.settings.margin_bottom_custom }}px * 3);{% endif %}
          {% if section.settings.background_container !=blank %}background-color: {{ section.settings.background_container }};{% endif %}
      "
  >
    {% for block in section.blocks %}
      <div
          class="custom-image-column--image"
          style="
            background-image: url('{{ block.settings.image  | img_url: 'original' }}');
          ">

      </div>
    {% endfor %}

    {% if section.settings.heading != blank %}
      <h1 class="custom-image-column--title">
        {{ section.settings.heading }}
      </h1>
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Custom Image Column",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "image_clickable",
      "default": false,
      "label": "Image clickable"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading"
    },
        
    {
      "type": "select",
      "id": "margin_top",
      "label": "Margin top",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },

    {
      "type": "range",
      "id": "margin_bottom_custom",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0,
      "label": "Margin bottom custom"
    },

    {
      "type": "color_background",
      "id": "background_container",
      "label": "Background container"
    },
    {
      "type": "checkbox",
      "id": "show_dev_only",
      "default": false,
      "label": "Show Dev Only"
    }
  ],
  "blocks": [
    {
      "type": "page",
      "name": "Image block",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select image"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Image Column",
      "blocks": [
        {
          "type": "page"
        }
      ]
    }
  ]
}
{% endschema %}