{{ 'section-custom-why-choose-us.css' | asset_url | stylesheet_tag }}
<style> 
  {{ section.settings.heading_font | font_face }}
  {{ section.settings.text_font | font_face }}
</style>

{% comment %} Dev Mode - condition {% endcomment %}
{% if section.settings.show_dev_only != true or request.host contains 'myshopify.com' %}
  <div
      id="Banner-{{ section.id }}"
      class="custom-why-choose-us
  
        {% if section.settings.margin_top != 'none' %} margin-top--{{ section.settings.margin_top }} {% endif %}
        {% if section.settings.margin_bottom != 'none' %} margin-bottom--{{ section.settings.margin_bottom }} {% endif %}"
  
      style="
          {% if section.settings.margin_bottom_custom > 0 %}margin-bottom: {{ section.settings.margin_bottom_custom }}px;{% endif %}
          {% if section.settings.background_color !=blank %}background-color: {{ section.settings.background_color }};{% endif %}
          {% if section.settings.background_image !=blank %}background-image: url('{{ section.settings.background_image | img_url: 'original' }}');{% endif %}
      "
    >
      
      <div class="custom-why-choose-us--top">
        <div class="custom-why-choose-us--top-left-col">
          {% if section.settings.top_title != blank %}
            <h2 class="custom-why-choose-us--title" 
              style="
                {% if section.settings.heading_font.family !=blank %}font-family: {{ section.settings.heading_font.family }};{% endif %}
              "
            >
              {{ section.settings.top_title | newline_to_br  }}
            </h2>
          {% endif %}
        </div>
        <div class="custom-why-choose-us--top-right-col">
          {% if section.settings.top_text != blank %}
            <p class="custom-why-choose-us--top-right-col-text"
              style="
                {% if section.settings.text_font.family !=blank %}font-family: {{ section.settings.text_font.family }};{% endif %}
              "
             >
              {{ section.settings.top_text | newline_to_br  }}
            </p>
          {% endif %}
          
          {% if section.settings.top_image != blank %}
            <div class="custom-why-choose-us--top-img-wrap">
              <img
                class="custom-why-choose-us--top-img"
                src="{{ section.settings.top_image | image_url: width: 500 }}"
                alt="{{ section.settings.top_image.alt | escape }}"
                width="500"
                height="{{ 500 | divided_by: section.settings.top_image.aspect_ratio | ceil }}"
                loading="lazy"
              >
            </div>
          {% endif %}
        </div>
      </div>

      <div class="custom-why-choose-us--bottom">
        <div class="custom-why-choose-us--bottom-left-col">
          {% if section.settings.bottom_image != blank %}
            <div class="custom-why-choose-us--bottom-img-wrap ">
              <img
                class="custom-why-choose-us--bottom-img"
                src="{{ section.settings.bottom_image | image_url: width: 500 }}"
                alt="{{ section.settings.bottom_image.alt | escape }}"
                width="500"
                height="{{ 500 | divided_by: section.settings.image.aspect_ratio | ceil }}"
                loading="lazy"
              >
            </div>
          {% endif %}
        </div>
        <div class="custom-why-choose-us--bottom-right-col">
          <div class="custom-why-choose-us--bottom-right-col-wrap">
            <div class="custom-why-choose-us--bottom-right-text-wrap">
              {% if section.settings.bottom_title != blank %}
                <h3 class="custom-why-choose-us--bottom-title"
                  style="
                    {% if section.settings.heading_font.family !=blank %}font-family: {{ section.settings.heading_font.family }};{% endif %}
                  "
                 >
                  {{ section.settings.bottom_title | newline_to_br  }}
                </h3>
              {% endif %}
              {% if section.settings.bottom_text != blank %}
                <p class="custom-why-choose-us--bottom-right-col-text"
                  style="
                    {% if section.settings.text_font.family !=blank %}font-family: {{ section.settings.text_font.family }};{% endif %}
                  "
                 >
                  {{ section.settings.bottom_text | newline_to_br  }}
                </p>
              {% endif %}
            </div>  
            {% if section.settings.button_label != blank %}
              <div class="custom-product-hero--button"
                style="
                    {% if section.settings.text_font.family !=blank %}font-family: {{ section.settings.text_font.family }};{% endif %}
                  "
               >
                <a href="{{ section.settings.button_url }}" class="button {{ section.settings.button_type }}">
                  {{ section.settings.button_label }}
                </a>
              </div>
            {% endif %}
          </div>

          {% if section.settings.bottom_logo != blank %}
            <div class="custom-why-choose-us--bottom-logo-wrap ">
              <img
                class="custom-why-choose-us--bottom-logo"
                src="{{ section.settings.bottom_logo | image_url: width: 500 }}"
                alt="{{ section.settings.bottom_logo.alt | escape }}"
                width="500"
                height="{{ 500 | divided_by: section.settings.image.aspect_ratio | ceil }}"
                loading="lazy"
              >
            </div>
          {% endif %}
        </div>
      </div>
  
  </div>
{% endif %}

{% schema %}
{
  "name": "Custom Why Choose Us",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#F8F6F1"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },

    {
      "type": "header",
      "content": "Top Content"
    },
    {
      "type": "textarea",
      "id": "top_title",
      "label": "Top Title"
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Heading font",
      "default": "inter_n4"
    },
    {
      "type": "textarea",
      "id": "top_text",
      "label": "Top Text"
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Text font",
      "default": "inter_n4"
    },
    {
      "type": "image_picker",
      "id": "top_image",
      "label": "Top Image"
    },

    {
      "type": "header",
      "content": "Bottom Content"
    },
    {
      "type": "textarea",
      "id": "bottom_title",
      "label": "Top Title"
    },
    {
      "type": "textarea",
      "id": "bottom_text",
      "label": "Top Text"
    },
    {
      "type": "image_picker",
      "id": "bottom_image",
      "label": "Bottom Image"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Button type",
      "options": [
        {
          "value": "button--dark-gray",
          "label": "Dark Gray"
        },
        {
          "value": "button--primary",
          "label": "Primary"
        },
        {
          "value": "button--secondary",
          "label": "Secondary"
        },
        {
          "value": "button--primary_sm",
          "label": "Primary - SM"
        }
      ],
      "default": "button--dark-gray"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "bottom_logo",
      "label": "Bottom Logo"
    },
    
    {
      "type": "header",
      "content": "Section Margins"
    },
    {
      "type": "select",
      "id": "margin_top",
      "label": "Margin top",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "middle",
          "label": "middle"
        },
        {
          "value": "big",
          "label": "big"
        }
      ],
      "default": "none"
    },
    
    {
      "type": "range",
      "id": "margin_bottom_custom",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0,
      "label": "Margin bottom custom"
    },
    {
      "type": "checkbox",
      "id": "show_dev_only",
      "default": false,
      "label": "Show Dev Only"
    }
  ],
  "presets": [
    {
      "name": "Custom Why Choose Us"
    }
  ]
}
{% endschema %}

