{% assign slider_columns_desktop_int = section.settings.slider_columns_desktop | times: 1 %}
{% assign slide_width = section.settings.slide_width | times: 1 %}

{% if section.settings.container_width %}
    {%- assign containerWidth = 0 | times: 1 -%}
{% else %}
    {%- assign containerWidth = slider_columns_desktop_int | times: slide_width -%}
{% endif %}

<div class="page-width-desktop slider-container swiper-page-slider {% if section.settings.pagination_enabled %} pagination-enabled {% endif %}">
    <div class="swiper swiper-container slider-columns-{{ section.settings.slider_columns_desktop }}
        {% if section.settings.slide_card %} slides-card {% endif %}
        {% if section.settings.images_height != 'default' %} slide-image-{{ section.settings.image_width }} {% endif %}
      "
         {% if containerWidth > 0 %} style="max-width: {{ containerWidth }}px" {% endif %}
         data-columns="{{ section.settings.slider_columns_desktop }}"
         data-slide-width="{{ slide_width }}"
    >
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
              
              {% assign title = block.settings.page.title %}
              {% if block.settings.title != blank %}
                {% assign title = block.settings.title %}
              {% endif %}

              {% assign buttonUrl = block.settings.page.url %}
              {% if block.settings.button_url != blank %}
                {% assign buttonUrl = block.settings.button_url %}
              {% endif %}

              {% assign buttonLabel = 'Show more' %}
              {% if block.settings.button_label != blank %}
                {% assign buttonLabel = block.settings.button_label %}
              {% endif %}

              {% if section.settings.clickable %} 
                <a href="{{ buttonUrl }}" class="swiper-slide">
              {% else %} 
                <div class="swiper-slide">
              {% endif %}
                <div class="swiper-slide--inner" style="{% if section.settings.background_content !=blank %}background: {{ section.settings.background_content }}{% endif %}">
                    <div 
                      class="swiper-slide--image image-height-{{ section.settings.images_height }} 
                      {% if section.settings.images_height != 'default' %} child-absolute {% endif %}"
                      style="
                        {% if section.settings.background_image !=blank %}background: {{ section.settings.background_image }}{% endif %}
                      "
                    >
                        <img src="{{ block.settings.image | img_url: 'original' }}" alt="alt" {% if block.settings.image_position > 0 %} style="left: -{{ block.settings.image_position }}%" {% endif %}>
                    </div>

                    <div class="swiper-slide--content slide--content content-align--{{ section.settings.content_align }}">
                        {% if section.settings.show_title %}
                            <p class="slider-content--title title-font-size--{{ section.settings.title_font_size }}">{{ title }}</p>
                        {% endif %}
                        {% if block.settings.description != blank %}
                            <p class="slider-content--description">{{ block.settings.description }}</p>
                        {% endif %}

                        {% if section.settings.show_button %}
                            <div>
                                <a href="{{ buttonUrl }}" class="button button--primary">
                                  {{ buttonLabel }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
              {% if section.settings.clickable %} 
                </a>
              {% else %} 
                </div>
              {% endif %}
            {% endfor %}
        </div>
    </div>

  {% if section.settings.navigation_enabled %}
    <button class="swiper-arrow swiper-button-next"></button>
    <button class="swiper-arrow swiper-button-prev"></button>
  {% endif %}
  
  {% if section.settings.pagination_enabled %}
      <ul class="swiper-pagination"></ul>
  {% endif %}
</div>

{% schema %}
{
  "name": "Swiper page slider",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "clickable",
      "default": true,
      "label": "Slide clickable"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "default": true,
      "label": "Show slide title"
    },
    {
      "type": "select",
      "id": "title_font_size",
      "label": "Title font size",
      "options": [
        {
          "value": "normal",
          "label": "normal"
        },
        {
          "value": "middle",
          "label": "middle"
        }
      ],
      "default": "normal"
    },
    {
      "type": "select",
      "id": "content_align",
      "label": "Content align in slides",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "default": false,
      "label": "Show slide button"
    },
    {
      "type": "checkbox",
      "id": "navigation_enabled",
      "default": true,
      "label": "Navigation enabled"
    },
    {
      "type": "checkbox",
      "id": "pagination_enabled",
      "default": false,
      "label": "Pagination enabled"
    },
    {
      "type": "select",
      "id": "image_width",
      "label": "Image width",
      "options": [
        {
          "value": "small",
          "label": "small"
        },
        {
          "value": "normal",
          "label": "normal"
        },
        {
          "value": "full",
          "label": "full"
        }
      ],
      "default": "full"
    },
    {
      "type": "select",
      "id": "images_height",
      "label": "Image height",
      "options": [
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "normal",
          "label": "350px"
        }
      ],
      "default": "normal"
    },
    {
      "type": "checkbox",
      "id": "slide_card",
      "default": true,
      "label": "Display as card (with background)"
    },
    {
      "type": "checkbox",
      "id": "container_width",
      "default": false,
      "label": "Slider full container width"
    },
    {
      "type": "select",
      "id": "slider_align",
      "label": "Align container",
      "options": [
        {
          "value": "align_left",
          "label": "left"
        },
        {
          "value": "align_middle",
          "label": "middle"
        }
      ],
      "default": "align_middle"
    },
    {
      "type": "select",
      "id": "slide_width",
      "options": [
        {
          "value": "240",
          "label": "small"
        },
        {
          "value": "310",
          "label": "normal"
        },
        {
          "value": "400",
          "label": "large"
        }
      ],
      "default": "310",
      "label": "Size slide"
    },
    {
      "type": "range",
      "id": "slider_columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "Number of slides to desktop"
    },
    {
      "type": "color_background",
      "id": "background_image",
      "label": "Background image container"
    },
    {
      "type": "color_background",
      "id": "background_content",
      "label": "Background content"
    }
  ],
  "blocks": [
    {
      "type": "page",
      "name": "Slide",
      "limit": 10,
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "Select page"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Custom title (Instead of a page title)"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select image"
        },
        {
          "type": "range",
          "id": "image_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0,
          "label": "Position '-x'"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Custom url"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label (by default 'Show more')"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Swiper page slider",
      "blocks": [
        {
          "type": "page"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}