{{ 'faq-tabs.css' | asset_url | stylesheet_tag }}
{{ 'section-review-swiper-slider.css' | asset_url | stylesheet_tag }}

<section class="page-width faq-tabs">
  <ul class="tabs">
    <li class="active">
      <span class="reviews-btn" style="color: {{ product.metafields.custom.tabs_title_color }}">
        {{- section.settings.reviews -}}
      </span>
    </li>
    <li>
      <span style="color: {{ product.metafields.custom.tabs_title_color }}">
        {{- section.settings.nutritional_information -}}
      </span>
    </li>
    <li>
      <span style="color: {{ product.metafields.custom.tabs_title_color }}">{{ section.settings.directions }}</span>
    </li>
    <li>
      <span style="color: {{ product.metafields.custom.tabs_title_color }}">{{ section.settings.faqs }}</span>
    </li>
  </ul>
  <div class="tabs-content">
    <div class="tabs-panel active" data-index="0">
      <div class="wrap wrap-review">
        <div class="swiper review-slider slider-container swiper-review-slider swiper-container">
          <div class="reviews__wrapper swiper-wrapper"></div>
        </div>
        <button class="swiper-arrow swiper-button-next"></button>
        <button class="swiper-arrow swiper-button-prev"></button>
      </div>
    </div>
    <div class="tabs-panel" data-index="1">
      <div class="wrap">
        {%- if product.metafields.custom.tabs_panel_2 != blank -%}
          {{ product.metafields.custom.tabs_panel_2 | metafield_tag }}
        {%- endif -%}
      </div>
    </div>
    <div class="tabs-panel" data-index="2">
      <div class="wrap">
        {%- if product.metafields.custom.tabs_panel_3 != blank -%}
          {{ product.metafields.custom.tabs_panel_3 | metafield_tag }}
        {%- endif -%}
      </div>
    </div>
    <div class="tabs-panel" data-index="3">
      <div class="wrap">
        {%- if product.metafields.custom.tabs_panel_4 != blank -%}
          {{ product.metafields.custom.tabs_panel_4 }}
        {%- endif -%}
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const tabLinks = document.querySelectorAll('.tabs span');
    const tabPanels = document.querySelectorAll('.tabs-panel');
    {% comment %} const reviewSlider = document.querySelector('.review-slider'); {% endcomment %}
    {% comment %} const reviewSlider = document.querySelector('#mag-product-review'); {% endcomment %}

    for (let el of tabLinks) {
      el.addEventListener('click', (e) => {
        {% comment %} if (reviewSlider) {
          reviewSlider.style.display = 'none';
          if (el.classList.contains('reviews-btn')) {
            reviewSlider.style.display = 'block';
          }
        } {% endcomment %}

        document.querySelector('.tabs li.active').classList.remove('active');
        document.querySelector('.tabs-panel.active').classList.remove('active');
        const parentListItem = el.parentElement;
        parentListItem.classList.add('active');
        const index = [...parentListItem.parentElement.children].indexOf(parentListItem);
        const panel = [...tabPanels].filter((el) => el.getAttribute('data-index') == index);
        panel[0].classList.add('active');
      });
    }
    new Accordion('.accordion-container');


    const reviewsWrapper = document.querySelector('.reviews__wrapper');
    var reviewsWrapperJson = {{ product.metafields.custom.reviews }};
    star = `<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="44" height="44" viewBox="0 0 24 24" stroke-width="1" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
          </svg>`;
    reviewsWrapperJson?.reviews.forEach((item) => {
      const reviewItemWrapper = document.createElement('div');
      reviewItemWrapper.classList.add('swiper-slide');
      reviewItemWrapper.classList.add('swiper-slide--inner');
      reviewItemWrapper.innerHTML =  `
        <p class="slider-content--title">${item.user_name}</p>
        <p class="slider-content--title-desc"><small>${item.verified}</small></p>
        <p class="slider-content--stars stars-filled--${item.stars_quantity}">${star.repeat(item.stars_quantity)}</p>
        <p class="review-content">${item.comment_text}</p>
      `;
      reviewsWrapper.appendChild(reviewItemWrapper);
     });

     swiperSliderInit()

  });
</script>

{% schema %}
{
  "name": "Tabs product",
  "class": "product-tabs-wrapper",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "reviews",
      "label": "Reviews"
    },
    {
      "type": "text",
      "id": "nutritional_information",
      "label": "Nutritional information"
    },
    {
      "type": "text",
      "id": "directions",
      "label": "Directions"
    },
    {
      "type": "text",
      "id": "faqs",
      "label": "FAQs"
    }
  ]
}
{% endschema %}
